div[class=characterListBackground] {
   /* background: #65676818;*/
}

input[type=text], input[type=password], input[type=submit] {
    /* width: 337px;
    height: 46px;
    color: rgba(255, 255, 255, 0.90);
    background-color: rgba(123, 37, 48, 1); */
}

.login-background{
  /* width: 479px;
  height: 417px;
  background-color: rgba(123, 37, 48, 0.80);
  justify-content: center; */
}
